extends layout
include mixins/prompt-install
include mixins/chat-interface

block content
    if isZoom
        // Sidebar.
        .content.m-4#main
            h1= title
            button.button.is-primary.is-hidden#toggle-view Toggle View
            .mt-5
                +chat-interface(chatTarget, chatHistory)

        // Immersive view.
        .content.is-hidden.m-4.mr-6#immersive
            .fixed-grid.has-4-cols
                .grid
                    // Names
                    .cell
                        button.button.is-fullwidth#participant-1-name Participant 1
                    .cell
                        button.button.is-fullwidth#participant-2-name Participant 2
                    .cell
                        button.button.is-fullwidth#participant-3-name Participant 3
                    .cell
                        button.button.is-fullwidth#participant-4-name Participant 4

                    // Local contexts
                    .cell
                        button.button.is-small.is-fullwidth#show-participant-1-context Show Context
                        .is-hidden#user-1-context
                            button.button.is-small.is-fullwidth#hide-participant-1-context Hide Context
                            br
                            h4= participantContexts['user1']
                    .cell
                        button.button.is-small.is-fullwidth#show-participant-2-context Show Context
                        .is-hidden#user-2-context
                            button.button.is-small.is-fullwidth#hide-participant-2-context Hide Context
                            br
                            h4= participantContexts['user2']
                    .cell
                        button.button.is-small.is-fullwidth#show-participant-3-context Show Context
                        .is-hidden#user-3-context
                            button.button.is-small.is-fullwidth#hide-participant-3-context Hide Context
                            br
                            h4= participantContexts['user3']
                    .cell
                        button.button.is-small.is-fullwidth#show-participant-4-context Show Context
                        .is-hidden#user-4-context
                            button.button.is-small.is-fullwidth#hide-participant-4-context Hide Context
                            br
                            h4= participantContexts['user4']
            br
            br
            // Conversation timeline.
            .is-flex.is-justify-content-end.is-flex-wrap-nowrap.is-overflow-x-auto#timeline
                each item in conversationTimeline
                    .box.content.ml-3
                        p= item
                // Extra spacer for the end.
                div

    else
        +prompt-install(title, installURL)

append scripts
    if isZoom
        script(type="module" src='/js/bundle.mjs')
        script(nomodule src='/js/bundle.js')

