extends layout
include mixins/prompt-install

block content
    if isZoom
        // Sidebar.
        .content.m-4#main
            h1= title
            button.button.is-primary.hidden#toggle-view Toggle View

        // Immersive view.
        .content.hidden.m-4.mr-6#immersive
            .fixed-grid.has-4-cols
                .grid
                    // Names
                    .cell
                        strong#participant-1-name Participant 1
                    .cell
                        strong#participant-2-name Participant 2
                    .cell
                        strong#participant-3-name Participant 3
                    .cell
                        strong#participant-4-name Participant 4

                    // Local contexts
                    .cell
                        h4= participantContexts['user1']
                    .cell
                        h4= participantContexts['user2']
                    .cell
                        h4= participantContexts['user3']
                    .cell
                        h4= participantContexts['user4']

            // Conversation timeline.
            .is-flex.is-justify-content-end.is-flex-wrap-nowrap.is-overflow-x-auto#timeline
                each item in conversationTimeline
                    .box.content.is-display-inline-block.ml-3
                        .columns
                            .column
                                div.timeline-dot(style=`background-color: ${item.color};`)
                            .column
                                p= item.text
                // Extra spacer for the end.
                div

    else
        +prompt-install(title, installURL)

append scripts
    if isZoom
        script(type="module" src='/js/bundle.mjs')
        script(nomodule src='/js/bundle.js')

