extends layout
include mixins/prompt-install

block content
    if isZoom
        .content#main
            h1= title
            button.button.is-primary.hidden#toggle-view Toggle View

        .content.hidden#immersive
            .fixed-grid.has-4-cols
                .grid
                    .cell
                        strong#participant-1-name Participant 1
                    .cell
                        strong#participant-2-name Participant 2
                    .cell
                        strong#participant-3-name Participant 3
                    .cell
                        strong#participant-4-name Participant 4
                    .cell
                        h4= participantContexts['user1']
                    .cell
                        h4= participantContexts['user2']
                    .cell
                        h4= participantContexts['user3']
                    .cell
                        h4= participantContexts['user4']

    else
        +prompt-install(title, installURL)

append scripts
    if isZoom
        script(type="module" src='/js/bundle.mjs')
        script(nomodule src='/js/bundle.js')

